/* Custom colors */
.beetle-greenbg {
    background-color: #002e0a;
    color: black;
}
.beetle-green {
    color: #002e0a;
}

.body-bg {
    background-color: #4e6453;
}

.carousel-text-bg{
    background-color: #1b1b1ba8
}